/*noinspection ALL*/
.button {
  border-radius: 10px;
  border-width: 2px;
  border-style: outset;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button[pressed="true"] {
  border-style: inset;
}
