.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-size: 12px;

  width: 70px;
  height: 120px;
  background-color: ghostwhite;

  margin: 2px;

  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

.card[big='true'] {
  transform: scale(2);
}
