/*noinspection ALL*/
.card {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 0;

  background-color: ghostwhite;

  padding: 1%;
  margin: 1%;

  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
}

.card[use="true"] {
  background-color: lightgreen;
}

.card[discard="true"] {
  background-color: pink;
}

.card[rarity="common"] {
  border-color: black;
}

.rarityGem {
  border-radius: 100%;
}

.card[rarity="uncommon"] {
  border-color: lawngreen;
}

.rarityGem[rarity="uncommon"] {
  box-shadow: 0 0 10px 0 lawngreen, inset 0 0 14px -2px lawngreen;
}

.card[rarity="rare"] {
  border-color: blue;
}

.rarityGem[rarity="rare"] {
  box-shadow: 0 0 10px 0 blue, inset 0 0 14px -2px blue;
}

.card[rarity="epic"] {
  border-color: purple;
}

.rarityGem[rarity="epic"] {
  box-shadow: 0 0 10px 0 purple, inset 0 0 14px -2px purple;
}

.card[rarity="legendary"] {
  border-color: gold;
}

.rarityGem[rarity="legendary"] {
  box-shadow: 0 0 10px 0 gold, inset 0 0 14px -2px gold;
}

.card[rarity="mythic"] {
  border-color: gold;
  box-shadow: 0 0 100px gold;
}

.rarityGem[rarity="mythic"] {
  box-shadow: 0 0 10px 0 gold, inset 0 0 14px -2px gold;
}

.card[periodic="true"] {
  background-color: #bbeebb;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.use {
  font-size: 2em;
  margin: 10px;
  color: lightgreen;
  width: 40%;
}

.discard {
  font-size: 1.2em;
  margin: 10px;
  color: pink;
  width: 40%;
}
