.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-size: 12px;

  width: 80px;
  height: 132px;
  background-color: ghostwhite;

  padding: 2px;
  margin: 2px;

  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;

  opacity: 1;
  transform: scale(1);

  animation-timing-function: linear;
  animation-fill-mode: forwards;

  transition: all 1.2s ease;
}

.card[rarity="common"] {
  border-color: black;
}

.rarityGem {
  border-radius: 100%;
}

.card[rarity="uncommon"] {
  border-color: lawngreen;
}

.rarityGem[rarity="uncommon"] {
  box-shadow: 0px 0px 10px 0px lawngreen, inset 0px 0px 14px -2px lawngreen;
}

.card[rarity="rare"] {
  border-color: blue;
}

.rarityGem[rarity="rare"] {
  box-shadow: 0px 0px 10px 0px blue, inset 0px 0px 14px -2px blue;
}

.card[rarity="epic"] {
  border-color: purple;
}

.rarityGem[rarity="epic"] {
  box-shadow: 0px 0px 10px 0px purple, inset 0px 0px 14px -2px purple;
}

.card[rarity="legendary"] {
  border-color: gold;
}

.rarityGem[rarity="legendary"] {
  box-shadow: 0px 0px 10px 0px gold, inset 0px 0px 14px -2px gold;
}

.card[rarity="mythic"] {
  border-color: gold;
  box-shadow: 0 0 100px gold;
}

.rarityGem[rarity="mythic"] {
  box-shadow: 0px 0px 10px 0px gold, inset 0px 0px 14px -2px gold;
}

.card[periodic="true"] {
  background-color: #bbeebb;
}

@keyframes instant {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
    transform: scale(2);
  }
  80% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(4) rotate(30deg);
  }
}

.card[instant="true"] {
  animation-name: instant;
  animation-duration: 5s;
  z-index: 1;
}

@keyframes new {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card[new="true"] {
  animation: new 0.8s ease-out;
}

@keyframes triggered {
  0% {
    transform: rotate(0deg);
  }
  0.5% {
    transform: rotate(5deg);
  }
  1.5% {
    transform: rotate(-5deg);
  }
  2.5% {
    transform: rotate(5deg);
  }
  3.5% {
    transform: rotate(-5deg);
  }
  4.5% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: scale(2);
  }
  80% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.card[triggered="true"] {
  animation: triggered 3s linear;
  z-index: 1;
}

.card[used="true"] {
  background-color: darkgrey;
}

@keyframes cooldown {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

.cooldown {
  width: calc(100% - 4px);
  position: absolute;
  font-size: 70px;
  color: black;
  text-align: center;
  opacity: 0.2;
  animation: cooldown 1.2s linear forwards;
}
