.card {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: calc(100% - 8px);
  background-color: ghostwhite;

  margin: 4px;
  min-width: calc(33% - 8px);

  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

.card[use="true"] {
  background-color: lightgreen;
}

.card[discard="true"] {
  background-color: pink;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.use {
  font-size: 2em;
  border-radius: 10px;
  margin: 10px;
  font-family: inherit;
  border-color: green;
  background-color: green;
  color: lightgreen;
  width: 40%;
}

.discard {
  font-size: 2em;
  border-radius: 10px;
  margin: 10px;
  font-family: inherit;
  border-color: red;
  background-color: red;
  color: pink;
  width: 40%;
}
