.card {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 0;

  background-color: ghostwhite;

  padding: 1%;
  margin: 1%;

  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

.card[use="true"] {
  background-color: lightgreen;
}

.card[discard="true"] {
  background-color: pink;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.use {
  font-size: 2em;
  margin: 10px;
  color: lightgreen;
  width: 40%;
}

.discard {
  font-size: 1.2em;
  margin: 10px;
  color: pink;
  width: 40%;
}
