.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameIdInput {
  font-size: 3em;
  border-radius: 10px;
  margin: 10px;
  font-family: inherit;
  text-align: center;
}

.ready {
  padding: 0.1em;
  font-size: 3em;
  margin: 10px;
}
