.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-family: "GrindAndDeath";
  font-size: 14vmin;
  white-space: nowrap;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 3em;
  margin: 10px;
}

.join {
  padding: 0.5em;
  color: lightgreen;
}

.host {
  padding: 0.2em;
  color: paleturquoise;
}

.author {
  font-family: "GrindAndDeath";
  font-size: 3rem;
  padding-right: 1%;
  align-self: flex-end;
}
