.player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-style: solid;
  border-width: 0.05em;
  border-color: black;
  border-radius: 0.2em;
  padding: 0.1em;
  margin: 0.1em;

  transition: all 0.8s cubic-bezier(0.3, -0.3, 0.7, 1.3);
}

.player[highlight="true"] {
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

.name {
  padding: 0.1em;
}

.hp {
  padding: 0.1em;
}
