.player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-style: solid;
  border-width: 0.05em;
  border-color: black;
  border-radius: 0.2em;
  padding: 0.1em;

  margin: 0.1em;
}

.name {
  padding: 0.1em;
}

.hp {
  padding: 0.1em;
}
