.player {
  display: flex;
  flex-direction: column;
  align-content: stretch;

  border-style: solid;
  border-width: 0.05em;
  border-color: black;
  border-radius: 0.2em;
  padding: 0.1em;
  margin: 0.1em;

  background-color: limegreen;

  transition: all 0.8s ease;
}

.player[highlight="true"] {
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

.player[dead="true"] {
  filter: brightness(0.5);
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  padding: 0.1em;
  color: white;
  -webkit-text-stroke-width: 2px;
  font-size: 1.5em;
  text-transform: capitalize;
}

.hp {
  width: 80px;
  height: 80px;
  padding: 0.1em;
  padding-bottom: 0.2em;
  font-family: RiseNShine;
  font-size: 0.8em;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes hpDiff {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(2);
  }
}

.hpDiff {
  position: absolute;
  z-index: 2;
  opacity: 1;
  transform: translateY(0), scale(1);
  animation: hpDiff 2s ease-out;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
